.App {
    text-align: center;
    margin: 0;
    padding: 4px;
}

.App-logo {
    height: 40vmin;
}

.App-header {
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}
