<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"/>
    <title>AD Shop</title>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{/}">AD</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/users}">Users</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/games}">Games</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/reviews}">Review</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/keys}">Keys</a>
            </li>
        </ul>

        <form class="form-inline my-2 my-lg-0">
            <a class="btn btn-outline-success my-2 my-sm-0" th:href="@{/register}">Register</a>
        </form>
    </div>
</nav>


<div class="container">
    <div class="row py-2">
        <div class="col-12">
            <form th:action="@{/reviews/update/{id}(id=${review.id})}" method="post" th:object="${review}">
                <div class="form-group">
                    <label>Author</label>
                    <input type="text" class="form-control" th:field="*{author.username}" th:text="${review.author.username}">
                    <small class="text-danger" th:each="err: ${#fields.errors('author')}" th:text="${err}"></small>
                </div>
                <div class="form-group">
                    <label>Game</label>
                    <input type="text" class="form-control" th:field="*{game.name}" th:text="${review.game.name}">
                    <small class="text-danger" th:each="err: ${#fields.errors('game')}" th:text="${err}"></small>
                </div>
                <div class="form-group">
                    <label>Review</label>
                    <input type="text" class="form-control" th:field="*{review}" th:text="${review.review}">
                    <small class="text-danger" th:each="err: ${#fields.errors('review')}" th:text="${err}"></small>
                </div>
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
    </div>
</div>