<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"/>
    <title>AD Shop</title>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{/}">AD</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/users}">Users</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/games}">Games</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/reviews}">Review</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/keys}">Keys</a>
            </li>
        </ul>
    </div>
</nav>


<div class="container">
    <div class="row py-2">
        <div class="col-12">
            <form th:action="@{/games/create}" method="post" th:object="${game}">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" th:field="*{name}" placeholder="Enter name">
                    <small class="text-danger" th:each="err: ${#fields.errors('name')}" th:text="${err}"></small>
                </div>
                <div class="form-group">
                    <label>Price</label>
                    <input type="text" class="form-control" th:field="*{price}" placeholder="Enter price">
                    <small class="text-danger" th:each="err: ${#fields.errors('price')}" th:text="${err}"></small>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <input type="text" class="form-control" th:field="*{description}" placeholder="Enter Description">
                    <small class="text-danger" th:each="err: ${#fields.errors('description')}" th:text="${err}"></small>
                </div>
                <div class="form-group">
                    <label>Date</label>
                    <input type="text" class="form-control" th:field="*{targetDate}" placeholder="Enter Date">
                    <small class="text-danger" th:each="err: ${#fields.errors('targetDate')}" th:text="${err}"></small>
                </div>
                <button type="submit" class="btn btn-primary">Add</button>
            </form>
        </div>
    </div>
</div>